html{
  background-color: #eee;
}

.navigation-clean-button{
  background:#fff;
  padding-top:10px;
  padding-bottom:10px;
  color:#333;
  border-radius:0;
  box-shadow:none;
  border:none;
  margin-bottom:0;
}


.navigation-clean-button .navbar-brand{
  font-weight:bold;
  color:inherit;
}

.navigation-clean-button .navbar-brand:hover{
  color: #f1e018;
}

.navigation-clean-button.navbar-inverse .navbar-brand:hover{
  color:#f1e018;
}

.navigation-clean-button .navbar-brand img{
  height:100%;
  display:inline-block;
  margin-right:10px;
  width:auto;
}

.navigation-clean-button .navbar-toggle{
  border-color:#ddd;
}

.navigation-clean-button .navbar-toggle:hover, .navigation-clean-button .navbar-toggle:focus{
  background:none;
}

.navigation-clean-button.navbar-inverse .navbar-toggle{
  border-color:#555;
}

.navigation-clean-button .navbar-toggle .icon-bar{
  background-color:#888;
}

.navigation-clean-button.navbar-inverse .navbar-toggle .icon-bar{
  background-color:#eee;
}

.navigation-clean-button .navbar-collapse, .navigation-clean-button .navbar-form{
  border-top-color:#ddd;
}

.navigation-clean-button.navbar-inverse .navbar-collapse, .navigation-clean-button.navbar-inverse .navbar-form{
  border-top-color:#333;
}

.navigation-clean-button .navbar-nav > .active > a, .navigation-clean-button .navbar-nav > .open > a{
  background:none;
  box-shadow:none;
}

.navigation-clean-button.navbar-default .navbar-nav > .active > a, .navigation-clean-button.navbar-default .navbar-nav > .active > a:focus, .navigation-clean-button.navbar-default .navbar-nav > .active > a:hover{
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean-button.navbar .navbar-nav > li > a{
  padding-left:18px;
  padding-right:18px;
}

.navigation-clean-button.navbar-default .navbar-nav > li > a{
  color:#465765;
}

.navigation-clean-button.navbar-default .navbar-nav > li > a:focus, .navigation-clean-button.navbar-default .navbar-nav > li > a:hover{
  color:#37434d !important;
  background-color:transparent;
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu{
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.navigation-clean-button .dropdown-menu > li > a:focus, .navigation-clean-button .dropdown-menu > li > a{
  line-height:2;
  font-size:14px;
  color:#37434d;
}

.navigation-clean-button .dropdown-menu > li > a:focus, .navigation-clean-button .dropdown-menu > li > a:hover{
  background:#eee;
  color:inherit;
}

.navigation-clean-button.navbar-inverse{
  background-color:#1f2021;
  color:#fff;
}

.navigation-clean-button.navbar-inverse .navbar-nav > .active > a, .navigation-clean-button.navbar-inverse .navbar-nav > .active > a:focus, .navigation-clean-button.navbar-inverse .navbar-nav > .active > a:hover{
  color:#8f8f8f;
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.navigation-clean-button.navbar-inverse .navbar-nav > li > a{
  color:#dfe8ee;
}

.navigation-clean-button.navbar-inverse .navbar-nav > li > a:focus, .navigation-clean-button.navbar-inverse .navbar-nav > li > a:hover{
  color:#fff !important;
  background-color:transparent;
}

.navigation-clean-button.navbar-inverse .navbar-nav > li > .dropdown-menu{
  background-color:#1f2021;
}

.navigation-clean-button.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean-button.navbar-inverse .dropdown-menu > li > a{
  color:#f2f5f8;
}

.navigation-clean-button.navbar-inverse .dropdown-menu > li > a:focus, .navigation-clean-button.navbar-inverse .dropdown-menu > li > a:hover{
  background:#363739;
}

@media (max-width:767px) {
  .navigation-clean-button.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
    color:#fff;
  }
}

.navigation-clean-button .actions{
  margin-top:7px;
  margin-bottom:0;
}

.navigation-clean-button .actions .login{
  margin-right:7px;
  text-decoration:none;
  color:#465765;
}

.navigation-clean-button.navbar-inverse .actions .login{
  color:#dfe8ee;
}

.navigation-clean-button.navbar-inverse .actions .login:hover{
  color:#fff;
}

.navigation-clean-button .action-button, .navigation-clean-button .action-button:active{
  background:#f1e018;
  border-radius:20px;
  color:#fff;
  box-shadow:none;
  border:none;
  text-shadow:none;
  padding:10px 22px;
  transition:background-color 0.25s;
}

.navigation-clean-button .action-button:hover{
  background: #f5ea5c;
}

.navigation-clean-button.navbar-inverse .action-button, .navigation-clean-button.navbar-inverse .action-button:active{
  background:#208f8f;
}

.navigation-clean-button.navbar-inverse .action-button:hover{
  background:#269d9d;
}


@media (max-width:767px) {
  .navigation-clean-button .navbar-nav .open .dropdown-menu{
    box-shadow:none;
  }
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-nav .open .dropdown-menu > li > a{
    color:#37434d;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
}

@media (max-width:767px) {
  .navigation-clean-button{
    padding-top:0;
    padding-bottom:0;
  }
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-header{
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (max-width:767px) {
  .navigation-clean-button .navbar-right{
    margin-bottom:20px;
  }
}

.profile_modal_cover {
    display: none;
    position: absolute;
    width: 316px;
    height: 506px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(33,37,41,.24);
    background-color: #fff;
    top: 55px;
    right: -15px;
    z-index: 10;
    border: 1px solid #e0e0e0;
}

.profile_modal {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile_modal .close_content {
    display: none;
    padding: 20px 20px 0;
    color: #adb5bd;
    justify-content: space-between;
    align-items: center;
}

.profile_modal .close_content .message-icon-cover {
    position: relative;
    color: #212529;
}
.profile_modal .info_content {
    padding: 1rem;
}
.profile_modal .user_content {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
}
.profile_modal .user_content .left_content {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    flex-shrink: 0;
}
.profile_modal .user_content .left_content .thumbnail {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
}
.profile_modal .user_content .left_content .thumbnail a {
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgba(33,37,41,.64);
    color: #fff;
    font-size: 12px;
    position: absolute;
    bottom: 0;
}
.profile_modal .user_content .right_content {
    display: flex;
    flex-direction: column;
}
.profile_modal .user_content .right_content a {
    display: flex;
    color: #212529;
    font-weight: 600;
}
.profile_modal .user_content .right_content a .name {
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.profile_modal .user_content .right_content a .icon {
    width: 16px;
    height: 16px;
    font-size: 14px;
    margin-left: 2px;
    margin-top: 6px;
    flex-shrink: 0;
}
.profile_modal .user_content .right_content .policy {
    color: #495057;
    font-size: 14px;
}
.profile_modal .point_content {
    display: flex;
    width: 100%;
}
.profile_modal .point_content .point_box.mileage {
    flex: 2;
}
.profile_modal .point_content .point_box .title {
    color: #495057;
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: unset;
    font-weight: 500;
}
.content {
    display: flex;
    height: 100%;
}
.profile_modal .menu_content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 0;
}
.profile_modal .menu_content .tab_content {
    display: flex;
}
.profile_modal .menu_content .tab_content .tab_menu.active {
    color: #212529;
    border-bottom: 2px solid #00c471;
    font-weight: 600;
}
.profile_modal .menu_content .list_content {
    background-color: #f8f9fa;
    flex: 1 1 auto;
    height: 0;
    overflow-y: auto;
}
.profile_modal .menu_content .list_content .tab_list.active {
    display: block;
}
.profile_modal .menu_content .list_content .tab_list .list_el:not(:last-child) {
    margin-bottom: 1rem;
}
.profile_modal .footer_content {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    font-size: 14px;
    color: #495057;
}
.profile_modal .footer_content .right_content .link {
    display: inline-flex;
    align-items: center;
}
.profile_modal .footer_content .right_content .link .icon {
    font-size: 14px;
}


