@charset "UTF-8";

* {
   font-family: 'Noto Sans KR', sans-serif;
}
.detailMainForm{
   display: inline-table;
}
#detailMainForm1{
   margin-left: 20%;
   border-right: 1px solid #c7caca;
   width :  50%;
   float : left;
} 

.positionfixed{
	position : fixed;
}

#detailMainForm2{
	float : left;
	width : 15%;
	margin-left : 2%;
    top: 120px;
    
}

.home__slider {
   display: inline-block;
   width: 700px;
}

.bx-wrapper{
   max-width: 700px !important;
   height : 100%  !important;
}
.bx-viewport{
   height: 400px !important;
   width: 97% !important;
}
   
.detailImages div{
   width: 700px !important;   
}

.bx-pager{
   text-align: center !important;
   width: 100% !important;
}

#optionSelect{
   width: 300px;
   height: 40px;
}


