*{	font-family: 'Noto Sans KR', sans-serif;}

button, input{
		outline: none;
		    height: 40px;
}
textarea{
	outline: none;
	resize: none;
}
header{
	   position: fixed;
	   width : 100%;
	}

#bmain{
		width: 128%;
	  
	}	
	
table,tr,td{border:1px solid red;}

th{
	width: 60%;
	font-size: 28px; 
	color: gray; 
	height: 15px;
	 }
	 
.B_n{
	width: 450px;
	color: gray;
    font-size: 12px;
    padding : 5px;
    height: 100%;
    line-height: 1.83;
    padding-left: 35px;
}

#catch, #title, #me, .op, .op2, .bTime, .bDetail, .b_Qt, .b_An
{
	width:417px;
}

#btn_op{   width: 103px;}

.bText500{
			
		    resize: none;
		    border-width: 1px;
		    border-style: solid;
		    border-image: initial;
		    border-radius: 4px;
		    padding: 10px 16px;
		    border-color: rgb(230, 230, 230)
	}
	
.btext{
	
    font-size: 31*20;
   
    bottom: 12px;
    right: 12px;
}
	
#btn_DetailSet, #btn_Q, #postcodify_search_button, #btn_op, #complete, #sumFile{
	background:#f1e018;
    border-radius: 3px;
    color: white;
    box-shadow: none;
    border: none;
}

#complete, #cancel{
	width: 330px;
    height: 75px;
    font-size: xxx-large;
}

