@charset "UTF-8";

* {
	font-family: 'Noto Sans KR', sans-serif;
	outline : none;
}

div.main {
	width: 58%;
	margin-left: 20%;
	height: 2040px;
	padding-top: 80px;
}

div.mFont {
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 25pt;
	font-weight: 800;
}

div.mPhoto {
	width: 22%;
	float: left;
	height: 300px;
}

div.mProfile {
	width: 78%;
	float: left;
	height: 300px;
}

div.mOption {
	float: left;
	width: 100%;
	height: 140px;
}

div.mProfileT1 {
	float: left;
	margin-left: 3%;
	margin-top: 40px;
	width: 95%;
	height: 60px;
}

div.mProfileT2 {
	float: left;
	width: 95%;
	margin-left: 3%;
	height: 60px;
}

div.mProfileT3 {
	float: left;
	width: 95%;
	margin-left: 3%;
	height: 60px;
}

div.mOptionO {
	float: left;
	width: 100%;
	height: 40px;
}

div.mOptionP {
	float: left;
	width: 100%;
	height: 40px;
}

div.mInput {
	float: left;
	width: 100%;
	height: 135px;
}

div.mInfo {
	float: left;
	width: 100%;
	height: 68px;
}

div.mBox {
	float: left;
	margin-top: 30px;
	width: 100%;
	height: 200px;
	background-color: #E6E6E6;
	border-radius: 10px;
}

div.mBoxI {
	float: left;
	width: 100%;
	height: 85px;
}

div.mFin {
	float: left;
	width: 100%;
	height: 70px;
}

div.mFinC {
	float: left;
	width: 80%;
	height: 100%;
	margin-left: 24%;
	margin-top: 30px;
}

div.mFinB {
	float: left;
	width: 100%;
	height: 80px;
}

div.mFinBD {
	float: left;
	width: 50%;
	margin-left: 33%;
}

div.mOptionS {
	float: left;
	width: 100%;
	height: 40px;
}

div.mBoxICost {
	float: left;
	width: 100%;
	height: 100%;
}

input.mProfileT11 {
	margin-top: 10px;
	font-size: 20pt;
	font-weight: 500;
	outline: none;
	border: none;
	width: 60%;
}

input.mProfileT21 {
	margin-top: 0px;
	font-size: 27pt;
	font-weight: 800;
	outline: none;
	border: none;
	width: 60%;
}

h3.mOptionO1 {
	font-weight: 500;
	font-size: 15pt;
	margin-left: 3%;
	margin-top: 10px;
	width: 71%;
	float: left;
}

h3.mOptionP1 {
	font-size: 15pt;
	margin-left: 3%;
	margin-top: 20px;
	float: left;
	width: 71%;
	font-weight: 400;
}

h3.mInputQ {
	font-size: 15pt;
	float: left;
	margin-left: 3%;
	width: 100%;
	height: 0px;
	font-weight: 200;
}

h3.mInfoH {
	margin-top: 18px;
	float: left;
	font-weight: 500;
	font-size: 16pt;
}

h3.mInfoH1 {
	float: right;
	margin-top: 18px;
	margin-right: 3%;
	font-weight: 500;
	font-size: 16pt;
	font-weight: 500;
}

h3.mBoxIH {
	margin-top: 40px;
	margin-left: 40px;
	float: left;
	font-size: 16pt;
	font-weight: 600;
}

h3.mFinCH {
	float: left;
	margin-top: -4px;
	font-size: 12pt;
	font-weight: 400;
	margin-left: 4px;
}

input.mProfileT31 {
	font-size: 18pt;
	font-weight: 400;
	margin-top: 4px; outline : none;
	border: none;
	width: 60%;
	outline: none
}

input.mOptionO2 {
	float: left;
	margin-top: 10px;
	width: 26%;
	font-size: 15pt;
	font-weight: 400;
	border: none;
	outline: none;
}

input.mOptionP2 {
	float: left;
	margin-top: 18px;
	width: 26%;
	font-weight: 400;
	border: none;
	outline: none;
	font-size: 15pt;
}

input#TC1 {
	width: 100px;
	height: 40px;
	margin-left : -42px;
	border: none;
	text-align: right;
	outline: none;
	font-size : 15pt;
}

h3.mOptionS1 {
	float: left;
	margin-left: 3%;
	width: 71%;
	height: 30px;
	margin-top: 26px;
	font-weight: 500;
	font-size : 14.5pt;
}

h3.mOptionS2 {
	float: left;
	width: 26%;
	height: 30px;
	margin-top: 26px;
	font-weight: 400;
	font-size : 15pt;
}

h3.BBBB {
	float: right;
	width: 30px;
	height: 100%;
	font-size: 16pt;
	font-weight: 600;
	margin-top: -30px;
	margin-right: 26px;
	z-index: 500;
}

img.logoImg {
	float: left;
	margin-left: 40px;
	margin-top: 40px;
	width: 200px;
	height: 200px;
}

input.mInputQI {
	float: left;
	border: none;
	width: 1000px;
	height: 40px;
	font-size: 15pt;
	outline: none;
}

input.mInfoH1B {
	background-color: white;
	border-radius: 2px 2px;
	border: 2px solid gray;
	width: 100px;
	height: 40px;
	font-size: 12pt;
}

input.mFinCC {
	float: left;
	margin-top: -2px;
	width: 20px;
	height: 20px;
}

input.mFinBDI {
	width: 400px;
	height: 60px;
	font-size: 15pt;
	background-color: gold;
	border-radius: 4px;
	border: none;
	color: black;
	font-weight: 600;
}

input.mInfoH1I {
	width: 120px;
	height: 35px;
	font-size: 12pt;
	border: none;
	outline: none;
}

input.BBBB {
	float: right;
	background-color: #E6E6E6;
	font-size: 14pt;
	font-weight: 600;
	border: none;
	height: 40px;
	margin-top: -38px;
	outline: none;
	margin-right: -20px;
	z-index: 1;
}

input.mInfoHI {
	float: left;
	border: none;
	color: gray;
	font-size: 16pt;
	margin-top: 13px;
	margin-left: 4px;
	outline: none;
}

input.keyword{
	outline: none;
}

label#BIC1 {
	float: right;
	font-size: 14pt;
	font-weight: 600;
	margin-top: 38px;
}

label#BIC2 {
	float: right;
	font-size: 14pt;
	font-weight: 600;
	margin-right: 34px;
	margin-top: 38px;
}

label#BIC3 {
	float: right;
	font-size: 14pt;
	font-weight: 600;
	margin-top: 38px;
}

label#BIC4 {
	float: right;
	font-size: 14pt;
	font-weight: 600;
	margin-right: 34px;
	margin-top: 38px;
}

hr#submitFormSectionMainDH{
	border-width : 1px 0px 0px 0px;
	border-style : solid;
	height : 1px;
	border-color : black;
	float : left;
	width : 92%;
	margin-top : -20px;
}