<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from board
		where f_status='Y' and category=#{cate}
	</select>
	
	<select id="selectList" resultType="Board">
		select *
		from blist
		where category=#{cate}
	</select>
	
	<select id="selectLtList" resultType="Board">
		select *
		from bltlist
		where category=#{cate}
	</select>
	
	<select id="selectHtList" resultType="Board">
		select *
		from bhtlist
		where category=#{cate}
	</select>
	

	<select id="getReviewGrade" resultType="Review">
		select *
		from review
		where q_status='N'
	</select>
	
	<insert id="insertBoard">
		insert into board
		values(SEQ_BOARD.nextval, #{ftype}, #{price}, #{small_title}, #{ftitle}, #{category}, #{location}, 0, 0, 
				#{fcontain}, #{fncontain}, #{fcalendar}, #{fmaterials}, #{fminfo}, #{fprecaution}, #{user_id},
				 default, default, default, sysdate, default, #{originalFileName}, #{renameFileName}, #{introduce}, #{maxMember})
	</insert>
	
	<insert id="insertBoardOption">
		insert into choose
		values(SEQ_CHOOSE.nextval, #{oname}, #{price}, default, SEQ_BOARD.currval)
	</insert>
	
	<select id="selectBoard" resultType="Board">
		select *
		from board
		where fno=#{fno} and f_status='Y'
	</select>
	
	<select id="getSearchListCount" resultType="_int">
		select count(*)
		from board
		where f_status='Y' and category=#{cate} and 
		<![CDATA[ 
			price>=#{sc.startPrice} and price<=#{sc.endPrice}
		 ]]>
	</select>
	
	<select id="selectSearchList" parameterType="map" resultType="Board">
		select *
		from blist
		where f_status='Y' and category=#{cate} and 
		<![CDATA[ 
			price>=#{sc.startPrice} and price<=#{sc.endPrice}
		 ]]>
		  
			<if test='sc.popular != null'>
				and rcount>0
		    	order by round(rcount / (select max(rcount) from board) * (rsum/rcount),2) desc
		    </if>
		    <if test='sc.latest != null'>
		    	order by f_create_date desc
		    </if>
		    <if test='sc.rate != null'>
		    	and rcount>0
		    	order by (rsum/rcount) desc
		    </if>
		    <if test='sc.highprice != null'>
		    	order by price desc
		    </if>
		    <if test='sc.lowprice != null'>
		    	order by price
		    </if>
	</select>
	
	<select id="getHeartCount" parameterType="map" resultType="_int">
		select count(*)
		from heart
		where user_id=#{uid} and fno2=#{fno}
	</select>
	
</mapper>
