<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	
	<select id="getListCount" resultType="_int">
		select count(*)
		from board
		where f_status='Y' and category=#{cate}
	</select>
	
	<select id="selectList" resultType="Board">
		select *
		from bhtist
		where category=#{cate}
	</select>
	
	<select id="selectLtList" resultType="Board">
		select *
		from bltlist
		where category=#{cate} and rnum between 1 and 4
	</select>
	
	<select id="selectHtList" resultType="Board">
		select *
		from bhtlist
		where category=#{cate} and rnum between 1 and 4
	</select>
	
	<insert id="insertBoard">
		insert into board
		values(SEQ_BOARD.nextval, #{ftype}, #{price}, #{small_title}, #{ftitle}, #{category}, #{location}, 0, 0, 
				#{fcontain}, #{fncontain}, #{fcalendar}, #{fmaterials}, #{fminfo}, #{fprecaution}, #{user_id},
				 default, default, default, sysdate, default, #{originalFileName}, #{renameFileName}, #{introduce}, #{maxMember})
	</insert>
	
	<insert id="insertBoardOption">
		insert into choose
		values(SEQ_CHOOSE.nextval, #{oname}, #{price}, #{ocount}, SEQ_BOARD.currval)
	</insert>
	
	<select id="selectBoard" resultType="Board">
		select *
		from board
		where fno=#{fno} and f_status='Y'
	</select>
	
	<select id="getSearchListCount" resultType="_int">
		select count(*)
		from board
		where f_status='Y' and category=#{cate} and 
		<![CDATA[ 
			price>=#{sc.startPrice} and price<=#{sc.endPrice}
		 ]]>
	</select>
	
	<select id="selectSearchList" parameterType="map" resultType="Board">
		select *
		from bhtist
		where f_status='Y' and category=#{cate} and 
		<![CDATA[ 
			price>=#{sc.startPrice} and price<=#{sc.endPrice}
		 ]]>
		  
			<if test='sc.popular != null'>
		    	order by round(rcount / (select decode(max(rcount),0,1,max(rcount)) from board) * (rsum/decode(rcount,0,1,rcount)),2) desc
		    </if>
		    <if test='sc.latest != null'>
		    	order by f_create_date desc
		    </if>
		    <if test='sc.rate != null'>
				order by (rsum/decode(rcount,0,1,rcount)) desc
		    </if>
		    <if test='sc.highprice != null'>
		    	order by price desc
		    </if>
		    <if test='sc.lowprice != null'>
		    	order by price
		    </if>
	</select>
	
	<select id="getHeartCount" parameterType="map" resultType="_int">
		select count(*)
		from heart
		where user_id=#{uid} and fno2=#{fno}
	</select>
	
</mapper>
