<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hostMapper">

	<update id="updateMemberInfo">
		update member
		set user_name = #{userName},nickname=#{nickName},email=#{email},phone=#{phone},host_yn = 'Y'
		where user_id = #{id}
	</update>
	
	<insert id="enrollHost">
		insert into Host
		values(#{id},null,sysdate,#{ac_bname},#{ac_name},#{ac_no},#{introduction})
	</insert>
	
	<select id="selectHost" resultMap="hostResultSet">
		select *
		from host
			join member using (user_id)
		where user_id=#{ hostId }
	</select>
	
	<resultMap type="Host" id="hostResultSet">
		<id property="id" column="user_id"/>
		<result property="fid" column="fid"/>
		<result property="enroll_date" column="enroll_date"/>
		<result property="ac_bname" column="ac_bname"/>
		<result property="ac_name" column="ac_name"/>
		<result property="ac_no" column="ac_no"/>
		<result property="introduction" column="introduction"/>
		<collection property="member" resultMap="checkMember"/>
	</resultMap>
	
	<resultMap type="Member" id="checkMember">
		<id property="id" column="user_id" />
		<result property="pwd" column="user_pwd" />
		<result property="userName" column="user_name" />
		<result property="nickName" column="nickname" />
		<result property="phone" column="phone" />
		<result property="profile" column="profile" />
	</resultMap>
	
</mapper>
