<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="purchaseMapper">
	
	<resultMap type = "PBoard" id = "PBoardResultSet">
		<id property = "fno" column = "fno"/>
		<result property = "ftype" column = "FTYPE"/>
		<result property = "price" column = "PRICE"/>
		<result property = "small_title" column = "SMALL_TITLE"/>
		<result property = "category" column = "CATEGORY"/>
		<result property = "location" column = "LOCATION"/>
		<result property = "lat" column = "LAT"/>
		<result property = "lon" column = "LON"/>
		<result property = "fcontain" column = "FCONTAIN"/>
		<result property = "fncontain" column = "FNCONTAIN"/>
		<result property = "fcalendar" column = "FCALENDAR"/>
		<result property = "fmaterials" column = "FMATERIALS"/>
		<result property = "fminfo" column = "FMINFO"/>
		<result property = "fprecaution" column = "FPRECAUTION"/>
		<result property = "user_id" column = "USER_ID"/>
		<result property = "heart" column = "HEART"/>
		<result property = "rsum" column = "RSUM"/>
		<result property = "rcount" column = "RCOUNT"/>
		<result property = "f_create_date" column = "F_CREATE_DATE"/>
		<result property = "f_status" column = "F_STATUS"/>
		<result property = "originalfilename" column = "ORIGINALFILENAME"/>
		<result property = "renamefilename" column = "RENAMEFILENAME"/>
		<result property = "introduce" column = "INTRODUCE"/>
		<result property = "maxmember" column = "MAXMEMBER"/>
	</resultMap>
		
	<resultMap type = "Purchase" id = "PurchaseResultSet">
		<id property = "gno" column ="GNO"/>
		<result property = "gname" column = "GNAME"/>
		<result property = "gphone" column = "GPHONE"/>
		<result property = "address" column = "ADDRESS"/>
		<result property = "gmsg" column = "GMSG"/>
		<result property = "gpay" column = "GPAY"/>
		<result property = "ocode" column = "OCODE"/>
		<result property = "user_id" column = "USER_ID"/>
		<result property = "ono" column = "ONO"/>
		<result property = "discount" column = "DISCOUNT"/>
		<result property = "dcode" column = "DCODE"/>
	</resultMap>
	
	<resultMap type = "PChoose" id = "ChooseResultSet">
		<id property = "ono" column = "ONO"/>
		<result property = "oname" column = "ONAME"/>
		<result property = "price" column = "PRICE"/>
		<result property = "ocount" column = "OCOUNT"/>
		<result property = "fno" column = "FNO"/>
		<result property = "odeadline" column = "ODEADLINE"/>
	</resultMap>
	
	<resultMap type = "PPoint" id = "PointResultSet">
		<id property = "pno" column = "PNO"/>
			<result property = "p_money" column = "P_MONEY"/>
			<result property = "p_content" column = "P_CONTENT"/>
			<result property = "p_date" column = "P_DATE"/>
			<result property = "p_useday" column = "P_USEDAY"/>
			<result property = "user_id" column = "USER_ID"/>
	</resultMap>
	
	<select id = "selectProduct" resultMap = "PBoardResultSet">
		select *
		from board
		where fno = #{fno}
	</select>	
	
	<select id = "selectCList" resultMap = "ChooseResultSet">
		select *
		from choose
		where ono = #{ono}
	</select>
	
	<insert id = "purchaseThis1">
		insert into buying
		values(SEQ_BUYING.nextval, #{gname},
		#{gphone}, #{gaddress}, #{gmsg}, #{user_id},
		#{ono}, #{gpay}, #{dcode} , #{ocode}
		)
	</insert>

	<select id = "selectPPList" resultMap = "PurchaseResultSet">
		select * 
		from buying
		where ono = #{ono}
	</select>	
	
	<select id = "selectOption" resultMap = "ChooseResultSet">
		select *
		from choose
		where fno = #{fno}
		<if test='ODEADLINE != null'>
			<![CDATA[ 
				and TO_DATE(ODEADLINE) > SYSDATE 
		 	]]>
		</if> 
	
	</select>

	
	<select id = "selectPChoose" resultMap = "ChooseResultSet">
		select *
		from choose
		where ono = #{ono}
	</select>
	
	<select id = "selectPBoard" resultMap = "PBoardResultSet">
		select *
		from board
		where fno = #{fno}
	</select>
	
	<insert id = "purchaseThis2">
		insert into buying
		values(SEQ_BUYING.nextval, #{gname},
		#{gphone}, #{gaddress}, #{gmsg}, #{user_id},
		#{ono}, #{gpay}, #{dcode} , #{ocode}
		)
	</insert>
	
	<select id = "selectGno" resultType="_int">
		select gno
		from buying
		where dcode = #{dcode}
	</select>
	
	<select id = "selectPurchase2" resultMap = "PurchaseResultSet">
		select *
		from buying
		where gno = #{gno}
	</select>
	
	<select id = "selectPChoose2" resultMap = "ChooseResultSet">
		select *
		from choose
		where ono = #{ono}
	</select>
	
	<select id = "selectBPBoard2" resultMap = "PBoardResultSet">
		select *
		from board
		where fno = #{fno}
	</select>
	
	<select id = "selectPcost" resultType="_int">
		select sum(p_money) as p_cost from point
		where user_id = #{user_id}
	</select>
	
	<insert id="insertPused">
		insert into point
		values(
		SEQ_POINT.nextval
		, -#{discountPrice}
		, #{comment}
		, default
		, sysdate
		, #{user_id})
	</insert>
	
	<select id = "selectPPoint" resultType = "_int">
		select sum(p_money) as p_cost from point
		where user_id = #{user_id}
	</select>
	
	<insert id="addSlist">
		insert into slist
		values(seq_slist.nextval, #{ ono }, #{ userId }, #{ tcount })
	</insert>
	
	<select id = "selectPBoard2" resultMap = "PBoardResultSet">
		SELECT  *
		FROM BOARD
		<![CDATA[
		WHERE ROWNUM < 5 AND F_STATUS = 'Y'
		]]>
		ORDER BY HEART DESC 
	</select>
	
	<insert id="insertplusPoint">
		insert into point
		values(
		SEQ_POINT.nextval
		, -#{d}
		, #{comment}
		, default
		, sysdate
		, #{user_id})
	</insert>
</mapper> 	