<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">
	<select id="getmyReviewListCount" resultType="_int">
		select count(*)
		from rvlist
		where user_id=#{user_id}
	</select>
	
	<select id="selectmyReviewList" resultType="Review">
		select *
		from rvlist
		where user_id=#{user_id}
	</select>
	
	<insert id="insertReview">
		insert into review
		values(SEQ_REVIEW.nextval, #{qcontent}, sysdate, sysdate, 'Y', #{ref_fid}, #{user_id}, 'N', #{grade}, 1, #{ono})
	</insert>
	
</mapper>
